h1{
    text-align: center;
    font-size: 70px;
    font-family: "Comics Sans", sans-serif;
    background-color: red;
    border: 5px solid black;
    color: black;
}

h2{
    font-family: monospace, sans-serif;
    background-color: green;
    color: white;
    border: 3px solid black;
    font-size: 30px;
    padding: 8px;
}

.desc{
    background-color: white;
    font-family: ubuntu, sans-serif;
    font-size: 18px;
    
}

body{
    background-color: peachpuff;
}

ol{
    background-color: white;
    padding: 16px 48px;
    border: 3px dotted black;
}

ul{
    background-color: white;
    padding: 16px 48px;
    border: 3px dotted black;
}

img{
    border: 8px solid rgb(137, 12, 12);
    display: block;
    margin: 0 auto;
    height: 400px;

}

li{
    font-family: "comic sans ms", sans-serif;
}

.note{
    background-color: transparent;
    width: 800px;
}

.link:hover{
    background-color: rgb(150, 232, 255);
}

.link_note{
    margin-right: 600px;
}

div{
    background-color: white;
    padding: 8px 16px;
    border: 3px dotted black;
}

